<nav>
    <ul>
    <li><a href="/">Главная</a></li>
    <li><a href="/contact">Контакты</a></li>
    <li><a href="/data/">Страница Data</a></li>
    <li><a href="/test/">Страница Test</a></li>
    <li class="nav-item"><a class="nav-link" href="/users/login/">Авторизация</a></li>
    <li class="last"><a href="{% url 'users:profile' %}">{{user.username}}</a> |

                <form action="{% url 'users:logout' %}" method="post" style="display: inline;">
                    {% csrf_token %}
                    <a href="#" onclick="event.preventDefault(); this.closest('form').submit();" style="text-decoration: none; color: inherit; cursor: pointer;">
                        Выйти
                    </a>
                </form>
    </li>

    </ul>
</nav>
<!--<form action="{% url 'users:logout' %}" method="post" style="display: inline;">
    {% csrf_token %}<button type="submit" class="btn-link">Выйти</button></form>-->