<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

</body>
</html>

{% extends 'data/layout.html' %}
{% block title %}
    <title>Страница данных</title>
{% endblock %}

{% block content%}
  <h1>Это страница инсадерских данных сайта {{caption1}}</h1>
<!--{{news}}-->

{% if news %}
        {% for new in news %}
            <div class="card">
				<div class="card" style="width: 30rem;">
					<div class="card-body">
                          <h2 class="card-title"> {{ new.title }} </h2>
                           <p class="card-text"> {{ new.short_description }} </p>
                           <p class="card-text"> {{ new.autor }} </p>
                           <p class="card-text"> {{ new.pub_date }} </p>
                        <!--<p class="card-text"> {{ new.text  }} </p>-->
                        <a href="#" class="btn btn-primary">Подробнее</a>
                    </div>
                </div>
            </div>



        {% endfor %}
{% else %}
		<h4>Новостей ещё нет.</h4>
	{% endif %}

{% endblock %}

