<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

</body>
</html>

{% extends 'data/layout.html' %}
{% block title %}
    <title>Страница данных</title>
{% endblock %}

{% block content%}
  <h1>Это страница инсадерских данных сайта {{caption1}}</h1>
<!--{{news}}-->
{% for new in news %}
	<div>
		<h2> {{ new.title }} </h2>
		<p> {{ new.short_description }} </p>
        <p> {{ new.autor }} </p>
        <p> {{ new.text  }} </p>
        <p> {{ new.pub_date }} </p>
	</div>
{% endfor %}
{% endblock %}


